* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #eee;
    line-height: 1.15;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

a {

    &:link,
    &:visited {
        text-decoration: none;
        color: #265C83;
    }

    &:hover {
        text-decoration: underline;
    }

    &:active {
        color: #007BE6;
    }

    &.orb {
        border-radius: 5px;
        display: inline-block;
        height: 8px;
        margin: 2px 6px;
        width: 8px;
      }
}

hr {
    background: #ababab;
    border: none;
    box-shadow: none;
    height: 1px;
    margin: 10px 0;
}

#container {
    margin: auto;
    padding: 10px 0;
    max-width: 1024px;

    @media all and (max-width: 1024px) {
        padding: 0;
    }
}

footer,
nav {
    color: #fff;
    background: #333;
    color: #fff;
    display: flex;

    a {
        color: #fff;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        line-height: 36px;
        padding: 0 5px 0 10px;
        text-decoration: none;

        &:link, &:visited {
            color: #fff;
        }

        &:hover {
            color: #ccc;
        }
    }

    div {
        ul {
            list-style: none;

            li {
                display: inline-block;

                a {
                    font-size: 12px;
                    font-weight: normal;
                    padding: 0 10px;
                }
            }
        }

        &.left {
            flex-grow: 1;

            ul {
                display: inline-block
            }
        }
    }

    @media all and (max-width: 1024px) {
        div {
            &.left {
                ul {
                    display: block
                }
            }
        }
    }
}

main {
    background: #fff;
    padding: 4px 10px;
}

article {
    display: block;
    margin: 10px 0;
    position: relative;
    width: 100%;

    h3 {
        font-weight: normal;
        font-size: 16px;
        font-style: normal;
        margin-bottom: 2px;
    }

    .title {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        .box {
            display: block;
            height: 40px;
            position: relative;
            margin-right: 5px;
            width: 36px;

            .top,
            .bottom {

                &-right,
                &-left {
                    height: 16px;
                    width: 16px;
                }
            }

            .top {
                &-left {
                    left: 0px;
                    position: absolute;
                    top: 0px;

                    &.explicit {
                        background: #d64a5d;
                    }

                    &.mature {
                        background: #d67526;
                    }

                    &.teen {
                        background: #32b55e;
                    }

                    &.general {
                        background: #4a87d6;
                    }
                }

                &-right {
                    position: absolute;
                    right: 0px;
                    top: 0px;

                    &.warnings {
                        background: #d64a5d;
                    }

                    &.no-warnings {
                        background: #d67526;
                    }
                }
            }

            .bottom {
                &-left {
                    left: 10px;
                    position: absolute;
                    top: 20px;

                    &.complete {
                        background: #007527;
                    }

                    &.in-progress {
                        background: #427553;
                    }
                }
            }
        }
    }

    .origin {
        font-size: 14px;
    }

    .updated {
        color: #555;
        font-size: 12px;
        margin: 0;
        position: absolute;
        top: 4px;
        right: 0;
    }

    .summary {
        color: #555;
        font-size: 14px;
        margin-bottom: 2px;
    }

    .meta {
        color: #555;
        display: flex;
        font-size: 12px;

        .left {
            flex-grow: 1;
        }

        .right {
            flex-grow: 1;
            text-align: right;
        }
    }

    .footer {
        padding: 10px 0 10px 20px;
    }

    .toggle {
        color: #555;
        cursor: pointer;
        font-family: monospace;
        font-size: 12px;
        letter-spacing: -1px;
        line-height: 16px;
    }

    .story {
        p {
            font-size: 14px;
            line-height: 1.25;
            margin-bottom: 5px;
        }
    }

    @media all and (max-width: 1024px) {
        &.auto {
            width: auto;
        }

        .meta {
            flex-direction: column;

            .right {
                margin-top: 2px;
                text-align: left;
            }
        }
    }
}

aside {
    display: flex;
    font-size: 14px;
    margin-bottom: 5px;
    width: 100%;

    span {

        &.left,
        &.center,
        &.right {
            display: inline-block;
        }

        &.left {
            flex-grow: 1;
            text-align: right;
        }

        &.center {
            margin: 0 10px;
        }

        &.right {
            flex-grow: 1;
        }
    }
}

.aria {
    &-text {
        height: 1px;
        left:-10000px;
        overflow: hidden;
        position: absolute;
        top: auto;
        width: 1px;
    }
}

.tags {
    display: flex;
    flex-wrap: wrap;

    .tag {
        font-size: 12px;
        padding: 2px 5px;
        margin: 2px;

        &:first-child {
            margin-left: 0px;
        }

        &.warning {
            background: #d64a5d;

            &:hover {
                background: #d62c43;
                cursor: pointer;
            }

            a {
                color: #f3f3f3;
            }
        }

        &.character {
            background: #454372;

            &:hover {
                background: #363372;
                cursor: pointer;
            }

            a {
                color: #f3f3f3;
            }
        }

        &.pairing {
            background: #ce6d8b;

            &:hover {
                background: #ce426e;
                cursor: pointer;
            }

            a {
                color: #f3f3f3;
            }
        }

        &.general {
            background: #b7b5bb;

            &:hover {
                background: #cecece;
                cursor: pointer;
            }

            a {
                color: #f3f3f3;
            }
        }
    }
}

.grid {
    display: flex;

    .col {
        flex: 1;
        width: 100%;
    }

    &.half {
        .col {
            width: 50%;
        }
    }
}

.alert {
    display: block;
    line-height: 36px;
    margin: 0 auto 6px auto;
    padding: 0 6px;
    width: 75%;

    &.error {
        background-color: #d64a5d;
        color: #f3f3f3;
    }

    &.info {
        background-color: #4a87d6;
        color: #f3f3f3;
    }

    strong,
    p {
        display: inline-block;
    }

    @media all and (max-width: 1024px) {
        width: 100%;
    }
}

input,
textarea {
    background: #fcfcfc;
    border: 1px solid #ccc;
    border-top: 1px solid #aaa;
    display: block;
    line-height: 16px;
    margin-bottom: 5px;
    max-width: 300px;
    padding: 4px 6px;
}

form {
    display: block;
    margin-top: 5px;
    overflow: auto;
    width: 100%;

    &.left {
        input {
            clear: both;
            float: right;
            margin-right: 2px;
        }
    }

    &.right {
        input {
            margin-left: 2px;
        }
    }
}