<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %} | Akaibu</title>
        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
        {% include "partial_css.html" %}
    </head>
    <body>
        <div id="container">
            <nav>
                <div class="left">
                    <span itemscope itemtype="http://schema.org/SiteNavigationElement">
                        <a href="/" itemprop="url">
                            <span itemprop="name">akaibu</span>
                        </a>
                    </span>
                    <ul>
                        <li itemscope itemtype="http://schema.org/SiteNavigationElement">
                            <a href="/groups" itemprop="url"><span itemprop="name">groups</span></a>
                        </li>
                        <li itemscope itemtype="http://schema.org/SiteNavigationElement">
                            <a href="/stories" itemprop="url"><span itemprop="name">stories</span></a>
                        </li>
                    </ul>
                </div>
                <div class="right">
                    <ul>
                        {% if user.is_some() %}
                        {% let u = user.as_ref().unwrap() %}
                        <li>
                            <a href="/users/{{ u.id }}">{{ u.name|e }}</a>
                        </li>
                        <li itemscope itemtype="http://schema.org/UnRegisterAction">
                            <a href="/logout" itemprop="url">log out</a>
                        </li>
                        {% else %}
                        <li itemscope itemtype="http://schema.org/RegisterAction">
                            <a href="/login" itemprop="url">register / sign in</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            <main>
                {% block main %}{% endblock %}
            </main>
            <footer>
                <div class="left"></div>
                <div class="right">
                    <ul>
                        <li><a href="#">v0.1.0</a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </body>
</html>