{% import "macros.html" as macros %}
{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block main %}
    {% if !errors.is_empty() %}
        {% for error in errors %}
            <div class="alert error"><strong>Error&nbsp;</strong><p>{{ error }}</p></div>
        {% endfor %}
    {% endif %}
    {% if !messages.is_empty() %}
        {% for message in messages %}
            <div class="alert info"><strong>Suggestion&nbsp;</strong><p>{{ message }}</p></div>
        {% endfor %}
    {% endif %}
    <div class="grid half">
        <div class="col">
            <form class="left" action="/login" method="POST">
                <input id="email" type="email" name="email" placeholder="email"/>
                <input id="username" type="password" name="password" placeholder="password"/>
                <input id="category" type="hidden" name="category" value="Login" />
                <input type="submit" value="login"/>
            </form>
        </div>
        <div class="col">
            <form class="right" action="/login" method="POST">
                <input id="email" type="email" name="email" placeholder="email"/>
                <input id="username" type="password" name="password" placeholder="password"/>
                <input id="category" type="hidden" name="category" value="Create" />
                <input type="submit" value="create account"/>
            </form>
        </div>
    </div>
{% endblock %}