{% macro article(story) %}
<article itemscope="" itemtype="http://schema.org/Book">
    <meta itemprop="bookFormat" content="EBook/DAISY3"/>
    <meta itemprop="isAccessibleForFree" content="true"/>
    <div class="title">
        <a href="/box/">
            <span class="aria-text">info box: top left = {{ story.rating.name|e }}, top right =  {{ story.warning|e }}, bottom left =  {{ story.progress|e }}</span>
            <span class="box">
                <meta itemprop="isFamilyFriendly" content="true"/>
                <span class="top-left {{ story.rating.name|e }}"></span>
                <span class="top-right {{ story.warning|e }}"></span>
                <span class="bottom-left {{ story.progress|e }}"></span>
            </span>
        </a>
        <div>
            <h3>
                <cite>
                    <a href="/stories/{{ story.id }}/1" itemprop="url">
                        <span itemprop="name">{{ story.name|e }}</span>
                    </a>
                </cite>
                by
                <a href="/users/{{ story.author.id }}">{{ story.author.name|e }}</a>
                <a class="orb" href="#" style="background-color: #{{ story.author.role.color }};">
                    <span class="aria-text">{{ story.author.name|e }}'s rank: {{ story.author.role.name|e }}</span>
                </a>
            </h3>
            <p class="origin">
                {% for origin in story.origins %}
                    <a href="/origins/{{ origin.id }}">{{ origin.name }}</a>{% if loop.index != story.origins.len() %}, {% endif %}
                {% endfor %}
            </p>
        </div>
    </div>
    <meta itemprop="datePublished" content="1991-05-01">
    <span class="updated"><meta itemprop="dateModified" content="1991-05-01">{{ story.updated }}</span>
    <p class="summary" itemprop="description">{{ story.summary|e }}</p>
    <ul class="tags">
        {% for tag in story.tags %}
            <ul class="tag {{ tag.category }}"><a href="/tags/{{ tag.id }}">{{ tag.name|e }}</a></ul>
        {% endfor %}
    </ul>
    <div class="meta">
        <p class="left"></p>
        <p class="right"><span itemprop="inLanguage">{{ story.language.name|e }}</span> | <span itemprop="numberOfPages">{{ story.length / 255 }}</span> pages | {{ story.length }} words | {{ story.chapters.len() }} chapters | {{ story.followers_count }} follows | {{ story.favoritors_count }} favorites</p>
    </div>
</article>
{% endmacro %}

{% macro story_article(chapter, story) %}
<article itemscope="" itemtype="http://schema.org/Book">
    <meta itemprop="bookFormat" content="EBook/DAISY3"/>
    <meta itemprop="isAccessibleForFree" content="true"/>
    <div class="title">
        <a href="/box/">
            <span class="aria-text">info box: top left = {{ story.rating.name|e }}, top right =  {{ story.warning|e }}, bottom left =  {{ story.progress|e }}</span>
            <span class="box">
                <meta itemprop="isFamilyFriendly" content="true"/>
                <span class="top-left {{ story.rating.name|e }}"></span>
                <span class="top-right {{ story.warning|e }}"></span>
                <span class="bottom-left {{ story.progress|e }}"></span>
            </span>
        </a>
        <div>
            <h3>
                <cite>
                    <a href="/stories/{{ story.id }}/1" itemprop="url">
                        <span itemprop="name">{{ story.name|e }}</span>
                    </a>
                </cite>
                by
                <a href="/users/{{ story.author.id }}">{{ story.author.name|e }}</a>
                <a class="orb" href="#" style="background-color: #{{ story.author.role.color }};">
                    <span class="aria-text">{{ story.author.name|e }}'s rank: {{ story.author.role.name|e }}</span>
                </a>
            </h3>
            <p class="origin">
                {% for origin in story.origins %}
                    <a href="/origins/{{ origin.id }}">{{ origin.name }}</a>{% if loop.index != story.origins.len() %}, {% endif %}
                {% endfor %}
            </p>
        </div>
    </div>
    <meta itemprop="datePublished" content="1991-05-01">
    <span class="updated"><meta itemprop="dateModified" content="1991-05-01">{{ story.updated }}</span>
    <p class="summary" itemprop="description">{{ story.summary|e }}</p>
    <ul class="tags">
        {% for tag in story.tags %}
            <ul class="tag {{ tag.category }}"><a href="/tags/{{ tag.id }}">{{ tag.name|e }}</a></ul>
        {% endfor %}
    </ul>
    <div class="meta">
        <p class="left"></p>
        <p class="right"><span itemprop="inLanguage">{{ story.language.name|e }}</span> | <span itemprop="numberOfPages">{{ story.length / 255 }}</span> pages | {{ story.length }} words | {{ story.chapters.len() }} chapters | {{ story.followers_count }} follows | {{ story.favoritors_count }} favorites</p>
    </div>
</article>
<hr>
<article>
    <div class="story">{{ chapter.note.before.rendered|safe }}</div>
    <hr>
    <div class="story">{{ chapter.content.rendered|safe }}</div>
    <hr>
    <div class="story">{{ chapter.note.after.rendered|safe }}</div>
</article>
<hr>
<aside>
    <span class="left">
        <a></a>
    </span>
    <span class="center">{{ chapter.number }}/{{ story.chapters.len() }}</span>
    <span class="right">
        <a></a>
    </span>
</aside>
{% endmacro %}